<h1>Welcome to the Expert Finder</h1>


<h2>Created & Maintained By Quaranteam:</h2>
<div id="team_container">
    <div class="team_member">
        <span class="team_img av1"></span>
        <span class="team_member_name">Connor</span>
        <span class="team_member_name">Connor</span>
    </div>
    <div class="team_member">
        <span class="team_img av2"></span>
        <span class="team_member_name">John</span>
    </div>
    <div class="team_member">
        <span class="team_img av2"></span>
        <span class="team_member_name">Hilary</span>
    </div>
    <div class="team_member">
        <span class="team_img av2"></span>
        <span class="team_member_name">Jacob</span>
    </div>
    <div class="team_member">
        <span class="team_img av2"></span>
        <span class="team_member_name">Jeremy</span>
    </div>


</div>

