<h1>Welcome to the Expert Finder</h1>

<h2>How to use</h2>

<p id='how_to'>
    Select one of the options on your left. <br><br>
    Home will take you back to this page which contains all information to use the website and the creator information.<br><br>
    Experts will provide you with a full list of experts which you can browse and click on to look at their full profiles.<br><br>
    Search will allow you to search for a specific Language or Course and find experts which meet that criteria. <br><br>
    Add Expert will allow you to add yourself or a friend to our database of experts, making their profile viewable and searchable <br>
</p>

<h3>Created & Maintained By Quaranteam:</h3>
<div id="team_container">
    <div class="team_member">
        <span class="team_img av1"></span>
        <span class="team_member_name">Connor</span>
        <span class="team_member_name">Connor</span>
    </div>
    <div class="team_member">
        <span class="team_img av2"></span>
        <span class="team_member_name">John</span>
    </div>
    <div class="team_member">
        <span class="team_img av2"></span>
        <span class="team_member_name">Hilary</span>
    </div>
    <div class="team_member">
        <span class="team_img av2"></span>
        <span class="team_member_name">Jacob</span>
    </div>
    <div class="team_member">
        <span class="team_img av2"></span>
        <span class="team_member_name">Jeremy</span>
    </div>


</div>

