<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Expert Finder</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;700&family=Cinzel+Decorative:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://kit.fontawesome.com/51f3700a14.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>{{>header}}</header>
    <nav>{{>nav}}</nav>
    <main>
        {{{body}}}
    </main>
</body>
</html>
