/* Overall style for main and partials */

#find_link {
    color: white;
    
}

/* The sidebar menu */
.menu {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #D73F09; /* OSU Orange */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

    /* The navigation menu links */
    .menu a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #111111;
        display: block;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }


.title_header{
    color: white;
    margin-left: 5px;
}

/* Header stuff */

.header_label {
    margin-left: 5%;
}

.header_select {
    margin-left: 1%;
}

#header_search_button {
    margin-left: 5%;
}

body {
    margin-left: 200px; 
    padding: 5px 5px;
    font-family: 'Alike Angular';
    font-size: 22px
}

.results-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

.results-table-header-label {
    font-weight: 100;
    font-variant-caps: all-small-caps;
    font-size: 32px;
    padding-bottom: 8px;
    border: 2px solid black;
    font-style: oblique; 
}

#how_to {
    width: 50%;
    font-size: 3;
}

.skills {
    width: 100%;
    border: 2px solid gray;
    text-align: center;
}

  
  .results-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .results-table tr:hover {background-color: #ddd;}

.results-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #D73F09; /* OSU Orange */
    color: white;
    border-bottom: 2px solid black;
}

  #gitLinkRow{
      text-align: center;
  }

