/* Overall style for main and partials */

#title_header {
    color: 4B75A9; 
}

#nav_div {
    background-color: 4B75A95;
    margin: 0px;
    width: 100%;
    height: 25px;
}

#find_link {
    color: white;
}